* {
  box-sizing: border-box;
}

#board{
  display: flex;
  flex-wrap: wrap;

  width: 400px;
  margin: 0 auto;

  --size: 80px;
  --blue: rgb(34, 24, 105);
  --dark-blue: rgb(24, 17, 77);
}

.cell {

  height: var(--size);

  /* vertical align text */
  line-height: var(--size);

  flex: 1 1 25%;

  border: 1px solid white;
  background-color: var(--blue);
  cursor: pointer;

  color: white;
  font-size: 3em;
  text-align: center;
}

.cell:hover{
  background-color: var(--dark-blue);
}

.cell > .symbol {
  visibility: hidden;
}

.cell.active {
  background-color: var(--dark-blue);
}

.cell.active > .symbol {
  visibility: visible;
}

.cell.matched {
  background-color: brown;
  cursor: auto;
}

.cell.matched > .symbol {
  visibility: visible;
}